[Unit]
Description=RMBTd-Websocket
After=network.target auditd.service
StartLimitIntervalSec=0

[Service]
# supply userid (e.g. netztest), ipv4/v6 addresses and port numbers
WorkingDirectory=/opt/netztest/server
ExecStart=@/opt/netztest/server/rmbtd websocket -w -c server.crt -k server.key -u userid -L ipv4_address:port# -L [ipv6_address]:port
TimeoutStopSec=60
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target

